.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.col-1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
.col-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
.col-3 { flex: 0 0 25.0000%; max-width: 25.0000%; }
.col-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
.col-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
.col-6 { flex: 0 0 50.0000%; max-width: 50.0000%; }
.col-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
.col-8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
.col-9 { flex: 0 0 75.0000%; max-width: 75.0000%; }
.col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
.col-11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
.col-12 { flex: 0 0 100.0000%; max-width: 100.0000%; }

@media (min-width: 500px) {
  .sm\:col-1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
  .sm\:col-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
  .sm\:col-3 { flex: 0 0 25.0000%; max-width: 25.0000%; }
  .sm\:col-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .sm\:col-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
  .sm\:col-6 { flex: 0 0 50.0000%; max-width: 50.0000%; }
  .sm\:col-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
  .sm\:col-8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
  .sm\:col-9 { flex: 0 0 75.0000%; max-width: 75.0000%; }
  .sm\:col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
  .sm\:col-11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
  .sm\:col-12 { flex: 0 0 100.0000%; max-width: 100.0000%; }
}

@media (min-width: 768px) {
  .md\:col-1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
  .md\:col-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
  .md\:col-3 { flex: 0 0 25.0000%; max-width: 25.0000%; }
  .md\:col-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .md\:col-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
  .md\:col-6 { flex: 0 0 50.0000%; max-width: 50.0000%; }
  .md\:col-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
  .md\:col-8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
  .md\:col-9 { flex: 0 0 75.0000%; max-width: 75.0000%; }
  .md\:col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
  .md\:col-11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
  .md\:col-12 { flex: 0 0 100.0000%; max-width: 100.0000%; }
}

@media (min-width: 1024px) {
  .lg\:col-1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
  .lg\:col-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
  .lg\:col-3 { flex: 0 0 25.0000%; max-width: 25.0000%; }
  .lg\:col-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .lg\:col-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
  .lg\:col-6 { flex: 0 0 50.0000%; max-width: 50.0000%; }
  .lg\:col-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
  .lg\:col-8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
  .lg\:col-9 { flex: 0 0 75.0000%; max-width: 75.0000%; }
  .lg\:col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
  .lg\:col-11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
  .lg\:col-12 { flex: 0 0 100.0000%; max-width: 100.0000%; }
}

@media (min-width: 1280px) {
  .xl\:col-1 { flex: 0 0 8.3333%; max-width: 8.3333%; }
  .xl\:col-2 { flex: 0 0 16.6667%; max-width: 16.6667%; }
  .xl\:col-3 { flex: 0 0 25.0000%; max-width: 25.0000%; }
  .xl\:col-4 { flex: 0 0 33.3333%; max-width: 33.3333%; }
  .xl\:col-5 { flex: 0 0 41.6667%; max-width: 41.6667%; }
  .xl\:col-6 { flex: 0 0 50.0000%; max-width: 50.0000%; }
  .xl\:col-7 { flex: 0 0 58.3333%; max-width: 58.3333%; }
  .xl\:col-8 { flex: 0 0 66.6667%; max-width: 66.6667%; }
  .xl\:col-9 { flex: 0 0 75.0000%; max-width: 75.0000%; }
  .xl\:col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
  .xl\:col-11 { flex: 0 0 91.6667%; max-width: 91.6667%; }
  .xl\:col-12 { flex: 0 0 100.0000%; max-width: 100.0000%; }
}

