.flex { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex; }
.inline-flex { display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.grow { flex: 1 1 0%; }
.shrink { flex: 0 1 auto; }

@media (min-width: 500px) {
  .sm\:flex { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex; }
  .sm\:inline-flex { display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-flex; }
  .sm\:flex-col { flex-direction: column; }
  .sm\:flex-row { flex-direction: row; }
  .sm\:flex-wrap { flex-wrap: wrap; }
  .sm\:items-center { align-items: center; }
  .sm\:items-start { align-items: flex-start; }
  .sm\:items-end { align-items: flex-end; }
  .sm\:justify-center { justify-content: center; }
  .sm\:justify-between { justify-content: space-between; }
  .sm\:justify-around { justify-content: space-around; }
  .sm\:grow { flex: 1 1 0%; }
  .sm\:shrink { flex: 0 1 auto; }
}
@media (min-width: 768px) {
  .md\:flex { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex; }
  .md\:inline-flex { display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-flex; }
  .md\:flex-col { flex-direction: column; }
  .md\:flex-row { flex-direction: row; }
  .md\:flex-wrap { flex-wrap: wrap; }
  .md\:items-center { align-items: center; }
  .md\:items-start { align-items: flex-start; }
  .md\:items-end { align-items: flex-end; }
  .md\:justify-center { justify-content: center; }
  .md\:justify-between { justify-content: space-between; }
  .md\:justify-around { justify-content: space-around; }
  .md\:grow { flex: 1 1 0%; }
  .md\:shrink { flex: 0 1 auto; }
}
@media (min-width: 1024px) {
  .lg\:flex { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex; }
  .lg\:inline-flex { display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-flex; }
  .lg\:flex-col { flex-direction: column; }
  .lg\:flex-row { flex-direction: row; }
  .lg\:flex-wrap { flex-wrap: wrap; }
  .lg\:items-center { align-items: center; }
  .lg\:items-start { align-items: flex-start; }
  .lg\:items-end { align-items: flex-end; }
  .lg\:justify-center { justify-content: center; }
  .lg\:justify-between { justify-content: space-between; }
  .lg\:justify-around { justify-content: space-around; }
  .lg\:grow { flex: 1 1 0%; }
  .lg\:shrink { flex: 0 1 auto; }
}
@media (min-width: 1280px) {
  .xl\:flex { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex; }
  .xl\:inline-flex { display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-flex; }
  .xl\:flex-col { flex-direction: column; }
  .xl\:flex-row { flex-direction: row; }
  .xl\:flex-wrap { flex-wrap: wrap; }
  .xl\:items-center { align-items: center; }
  .xl\:items-start { align-items: flex-start; }
  .xl\:items-end { align-items: flex-end; }
  .xl\:justify-center { justify-content: center; }
  .xl\:justify-between { justify-content: space-between; }
  .xl\:justify-around { justify-content: space-around; }
  .xl\:grow { flex: 1 1 0%; }
  .xl\:shrink { flex: 0 1 auto; }
}
