.img-responsive { display: block; width: 100%; height: auto; }
.img-cover { width: 100%; height: 100%; -o-object-fit:
  object-fit: cover; }
.img-contain { width: 100%; height: 100%; -o-object-fit:
  object-fit: contain; }

